// this file does not hold mixin but references it in breakpoint
@import 'breakpoint';
@import 'typography';
// invoke mixin using tiny , reduce whitespace by half,
// margins, line height, etc (Target rules defined in typography)

body {
  @include breakpoint('tiny'){
    margin: $vertical_margin * 0.5 auto;
    line-height: $line-height * 0.8;
    padding: 0 $horizontal-padding * 0.5;

  }
}
