@import 'color';
@import 'typography';
@import 'breakpoints';

.col-xs-6 {
  border: 1px solid white;
  height: 100px;
  width: 100px;
  margin: 2px 2px 2px 2px;
  font-size: 70px;
}

#pagewrap {
  padding: 5px;
  width: 960px;
  margin: 10px auto;
}

header {
  height: 100px;
  padding: 0 15px;
}

#leftColumn {
  width: 290px;
  float: left;
  padding: 5px 15px;
}

#middle {
  width: 394px;
  float: left;
  padding: 5px 15px;
  margin: 0 5px 5px;
}

#rightColumn {
  width: 170px;
  padding: 5px 15px;
  float: left;
}

footer {
  clear: both;
  padding: 0 15px;
}
