@import 'color';
@import 'typography';
@import 'breakpoints';

.col-xs-6 {
  border: 1px solid white;
  height: 100px;
  width: 100px;
  margin: 2px 2px 2px 2px;
  font-size: 70px;
}

#pagewrap {
  padding: 5px;
  width: 960px;
  margin: 10px auto;
}

header {
  height: 100px;
  padding: 10 15px;
  text-align: center;
}

#leftColumn {
  width: 290px;
  float: left;
  padding: 5px 15px;
}

#middle {
  width: 394px;
  float: left;
  padding: 75px 15px;
  margin: 0 5px 5px;
}

#rightColumn {
  float: left;
  padding: 5px 15px;
  width: 170px;
}

footer {
  clear: both;
  padding: 0 15px;
}

.footer {
  text-align: center;
}

.btn-group {
  text-align: center;
}

.modal-header {
  text-align: left;
}

.modal-body {
  padding: 5px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}
#gameStatsButton {
  text-align: center;
}
